/*DEFAULT STYLING */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* MAIN STYLES*/

.opaque {
  opacity: 0.0;
}

body {
    background: #fffdf7
}

li {
    border: 3px solid yellow;
}

.container {
    display: flex;
}


h1 {
    text-align: center;
    font-family: 'Caveat', sans-serif;
    font-size: 5rem;
    padding-bottom: 2rem;
}

.side-bar {
    width: 50vh;
    height: 90vh;
    margin-left: 2rem;
    margin-right: 10rem;

    padding: 3vh 2vw;
    display: flex;
    flex-direction: column;

    background-color: grey;
    border-radius: 10px;

    border: 3px solid green;
}

ul {
    list-style: none;
    padding: 0px;
}

.grid {
    width: 90vh;
    height: 90vh;
    border: 5px solid cyan;
    display: flex;
    flex-direction: column;
}

.column {
    flex-grow: 1;
    border: 0px;
    display: flex;
}

.cell {
    flex-grow: 1;
    border: 0px;
}

#color-options {
    display: flex;
}






